nav {
    /*position: fixed;*/
    /*z-index: 999;*/
}

#configContainer {
    text-align: center;
}

.imageHolder {
    width: 100%;
    height: 100%;
    position: fixed;
}

.list-group-item {
    background-color: white;
    cursor: move;
}

.highlight {
    border: 1px solid red;
    font-weight: bold;
    font-size: 45px;
    background-color: lightblue;
}

.clickable-icon {
    cursor: pointer;
    margin-right: 0 !important;
}